{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
{% if message %}<strong>{{ message }}</strong>{% endif %}
<div class="formular">
<h2>Konto registrieren</h2>
    <form method="post" action=".">
	{% csrf_token %}
	    {{ form.as_p}}
	    <button type="submit" value="Register" name="Registrieren" >Registrieren</button>
	    <p>oder</p>
 	    <button type="button"><a href="{% url 'votes:login' %}">Anmelden</a></button> 
    </form>
</div>
{% endblock %}
