{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Über Votey</h1>
<p>Diese Plattform setzt die Software "Votey" ein. Votey ist eine einfache und schlanke online Abstimmungsapplikation. Sie setzt die Mechanismen und Kriterien für einen analogen - also papiergestützten - Wahlvorgang wo möglich  identisch um. Votey spiegelt die Urnenwahl in das Internet.</p>
<p>Technisch, konzeptionell und politisch verantwortlich für Votey ist <a href="http://martindelius.de">Martin Delius</a></p>
<h2>Häufig gestellte Fragen</h2>
<h3>Wer darf abstimmen?</h3>
<p><b>Antwort:</b> Wer bei Votey abstimmen darf, entscheidet immer die Organisation, die die Software einsetzt. Beim experimentellen Einsatz von Votey auf der fds Akademie 2016 bekommen alle angemeldeten Teilnehmenden die Möglichkeit über ein individuelles und eindeutiges Token auf der Plattform anzumelden und für die Dauer des Experiments an den Abstimmungen teilzunehmen.</p>
<h3>Wann kann man abstimmen?</h3>
<p><b>Antwort:</b> Abstimmbar sind Anträge von allen Teilnehmenden der Plattform vom Zeitpunkt der Einstellung an. Jede Abstimmung hat eine voreingestellte Dauer. Standardmäßig beträgt die Abstimmungsdauer einen Tag. So wird es auch auf der fds Akademie 2016 sein.</p>
<h3>Was wird eigentlich abgestimmt?</h3>
<p><b>Antwort:</b> Auf der fds-Akademie werden Forderungen von Expertinnen und Experten, die mit den Teilnehmenden am Workshop "Transparenz, Beteiligung und Teilhabe – Was braucht die Digitalisierung von Politik, Parlament und Partei?" diskutiert wurden allen willigen Akademiebesucherinnnen und -besuchern zum Meinungsbild gestellt.</p>
<h3>Wer kann Abstimmungen einstellen?</h3>
<p><b>Antwort:</b> Grundsätzlich werden Abstimmungen zentral durch einen Administrator oder eine Administratorin bei Votey eingestellt. Nutzerinnen und Nutzer der Software haben keine Möglichkeit eigene Abstimmungen zu starten. Ganz wie bei einer Analogen Urnenwahl oder Urabstimmung.</p>
<h3>Wird meine Stimme gespeichert?</h3>
<p><b>Antwort:</b> Votey speichert nur DAS eine Stimme abgegeben wurde aber nicht welche Entscheidung ein Nutzer oder eine Nutzerin getroffen hat. Die Stimmabgabe wird außerdem nur mit dem Registrierungs-Token verknüpft, nicht aber mit dem Nutzernamen oder anderen persönlichen Daten. Es besteht also keine Zuordnung zwischen personenbezogenen Daten und der Stimmabgabe</p>
<h3>Kann ich meine Stimme nach der Stimmabgabe verändern?</h3>
<p><b>Antwort:</b> Nein. Wie bei einer Urnenwahl oder Urabstimmung ist es in Votey nicht mehr nachträglich möglich eine Stimme einem oder einer Abstimmenden zuzuordnen. Deshalb ist es auch in Votey nicht nachträglich möglich eine getroffene Entscheidung rückgängig zu machen oder zu ändern.</p>
{% endblock %}
